$base-color: rgba(254,148,62,0.9);

html, body {
    background-image: url("img/achtergrond.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

body {
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1000px;
}

hr {
    border: 1px solid black;
    opacity: 100% !important;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
}

strong {
    font-weight: bold;
}

img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
    text-decoration: underline;
}

table {
    margin: 0 auto; 
}

ul {
    line-height: 1.7;
    list-style-position: inside;
    padding: 0;
  }

ul.compact {
    line-height: 1.3!important;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators {
    filter: invert(100%);
}