name: Jekyll site CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'instructies.txt'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'instructies.txt'

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      site-built: ${{ steps.build-site.outcome }}
    steps:
    - uses: actions/checkout@v4
    - name: Build the site in the jekyll/builder container
      id: build-site
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"
    - name: Upload _site artifact
      uses: actions/upload-artifact@v4
      with:
        name: site
        path: _site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v4
    - name: Download _site artifact
      uses: actions/download-artifact@v4
      with:
        name: site
        path: _site
    - name: Deploy to FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./_site/
        server-dir: ${{ secrets.FTP_SERVER_DIR }}
        protocol: ftps
